main {
    height: 1300px;
    margin-top: 128px;
    padding: 30px 20px 120px;
}

.recepi-list > div {
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-top: 10px;
    overflow: auto;
    padding: 0 16px 10px;

}

.recepi-list .image img {
    height: auto;
    padding: 0;
    width: 160px;
}


#recipe_above {
	display: inline-block;
	width: 100%;
}

.img_source {
    font-size: 12px;
    text-align: right;
}

.img_source a:hover {
    color: pink;
}

.step {
    width: 300px;
    margin: 10px;
}

#method { /* ol */
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    counter-reset: item;
    list-style: none;
}

#method li {
    flex-grow: 1;
    flex-basis: 0;
    list-style-position:inside;
    margin: 20px;
}

#method li:before {
    content: counter(item) "  ";
    counter-increment: item;
    color: #003300;
    font-family: "Roboto";
    font-weight: bold;
}

#method img {
    margin: 0;
    padding-bottom: 20px;
}

#ingredients {
    margin: 10px;
    line-height: 200%;
    list-style-image: url("../img/check.png");
}

#ingredients li {
    list-style-position: inside;
}

#select_a_portion, #selectedPortion {
	margin: 10px;
}

#main_ol {
	margin: 15px 0;
	padding-left:40px;
	line-height: 150%;
	list-style-position: inside;
}

#main_ol li a:hover, .hover a:hover {
    color: pink;
}

figure  {
    border:1px solid lightgrey;
    float: right;
    text-align: left;
    padding: 10px;
	width: 40%;
	height: 50%;
	background-color: white;
}

.img_source {
    font-size: 12px;
    text-align: right;
}

.img_source a:hover {
    color: pink;
}

.step {
    width: 300px;
    margin: 10px;
}
dt{
    color: #57c7b3;
    font-family: "AkkuratRegular",Arial,Helvetica,sans-serif;
    font-size: 20px;
    padding:2%;
}


#close1 {
    float:left;
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
}


#close2 {
    float:left;
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
}

#close3 {
    float:left;
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
}
#close4 {
    float:left;
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
}

#close5 {
    float:left;
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
}

.list-title {
    color: #57c7b3;
    font-family: "AkkuratRegular",Arial,Helvetica,sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: -12px;
}

#myDIVCremeBrulee {
    background-color: #fdfdfd;
    border: 3px solid #ddd;
    border-radius: 10px;
    height: 720px;
    left: 10%;
    opacity: 1;
    padding: 10px;
    position: absolute;
    top: 20px;
    visibility: hidden;
    width: 70%;
    z-index: 100;
}

#myDIVscones {
    background-color: #fdfdfd;
    border: 3px solid #ddd;
    border-radius: 10px;
    height: 600px;
    left: 10%;
    opacity: 1;
    padding: 10px;
    position: absolute;
    top: 20px;
    visibility: hidden;
    width: 70%;
    z-index: 100;
}


#myDIVCronut {
    background-color: #fdfdfd;
    border: 3px solid #ddd;
    border-radius: 10px;
    height: 800px;
    left: 10%;
    opacity: 1;
    padding: 10px;
    position: absolute;
    top: 20px;
    visibility: hidden;
    width: 70%;
    z-index: 100;
}

#myDIVTigerKaka {
    background-color: #fdfdfd;
    border: 3px solid #ddd;
    border-radius: 10px;
    height: 600px;
    left: 10%;
    opacity: 1;
    padding: 10px;
    position: absolute;
    top: 20px;
    visibility: hidden;
    width: 70%;
    z-index: 100;
}

#myDIVVarmland-Cake {
    background-color: #fdfdfd;
    border: 3px solid #ddd;
    border-radius: 10px;
    height: 270px;
    left: 10%;
    opacity: 1;
    padding: 10px;
    position: absolute;
    top: 20px;
    visibility: hidden;
    width: 70%;
    z-index: 100;
}
#CremeBrulee, #scones, #cronut, #tigerKaka, #varmland-Cake{
    background: #57c7b3 none repeat scroll 0 0;
    border-radius: 15px;
    color: #fff;
    padding: 6px 20px;
    font-family: "AkkuratRegular",Arial,Helvetica,sans-serif;
    position: absolute;
    left:20%;
    text-transform: lowercase;
    font-size:14px;
    font-weight:400;
    
}

.recepi-list > div {
    margin-bottom: 15px;
    overflow: auto;
    margin-top: 10px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
    border-radius: 10px;
}

.boxed {
    background-color: white;
    font-style: italic;
}

.TR{
    border: 2px solid #fff;
    font-style: italic;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    margin: 1% auto;
    padding: 0rem;
    text-align: center;
    text-shadow: 1px 1px 0 #777;
    align-self: center;
}

@media only screen and (max-width: 480px) {

.recepi-list .image img {
    height: auto;
    padding: 0;
    width: 108%;
}

.recepi-list .image {
    float: none;
    margin-right: 20px;
}  

#CremeBrulee, #scones, #cronut, #tigerKaka, #varmland-Cake {
    background: #57c7b3 none repeat scroll 0 0;
    border-radius: 15px;
    color: #fff;
    font-family: "AkkuratRegular",Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: 400;
    left: 18%;
    padding: 6px 20px;
    text-transform: lowercase;
}

.recepi-list > div {
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-top: 10px;
    overflow: auto;
    padding-bottom: 30px;
}

main {
    height: 1300px;
    margin-top: 150px;
    padding: 30px 20px 120px;
}

}
